.profile {
    min-width: 120px;

    .balance {
        text-align: right;
        display: none;

        &::before {
            content: '💎';
            font-size: 1.1em;
        }
    }

    .title {
        text-align: right;
        display: block;
    }

    &:hover {
        .balance {
            display: block;
        }

        .title {
            display: none;
        }
    }
}
